In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
gtri = pd.read_csv('gtri-anon-salaries.csv', header=None, names=["Salary", "Title", "Lab"],
                   converters={"Salary": lambda s: float(s.replace("$", "").replace(",", ""))})
gtri.head()

      Salary                        Title   Lab
0  166924.48  Principal Research Engineer  ATAS
1  152028.52  Principal Research Engineer  ATAS
2  147679.02  Principal Research Engineer  ATAS
3  143053.50  Principal Research Engineer  ATAS
4  142812.00     Senior Research Engineer  ATAS

In [5]:
elsys = gtri[gtri["Lab"] == "ELSYS"]
elsys["Salary"].describe()

count       167.000000
mean      80747.553293
std       37706.066654
min        1175.680000
25%       60800.000000
50%       77723.210000
75%      106252.480000
max      199770.000000
Name: Salary, dtype: float64

In [6]:
stl = gtri[gtri["Lab"] == "STL"]
stl["Salary"].describe()

count        74.000000
mean     100692.061081
std       38936.827534
min       21666.680000
25%       69318.435000
50%       94983.970000
75%      123615.625000
max      203000.040000
Name: Salary, dtype: float64

In [7]:
from scipy import stats
k2_elsys, p_elsys = stats.normaltest(elsys["Salary"])
if p_elsys > .05:
    print("Failed to reject null hypothesis that distribution is not normal.")
    print("Conclude that distribution of ELSYS salaries is normal.")

Failed to reject null hypothesis that distribution is not normal.
Conclude that distribution of ELSYS salaries is normal.

In [8]:
k2_stl, p_stl = stats.normaltest(stl["Salary"])
if p_stl > .05:
    print("Failed to reject null hypothesis that distribution is not normal.")
    print("Conclude that distribution of STL salaries is normal.")

Failed to reject null hypothesis that distribution is not normal.
Conclude that distribution of STL salaries is normal.

In [9]:
ttest = stats.ttest_ind(a = elsys["Salary"], b = stl["Salary"], equal_var=False)
if ttest.pvalue < .05:
    print("Reject null hypothesis that means are equal.")
    print("Conclude that means are different.")
ttest

Reject null hypotesis that means are equal.
Conclude that means are different.

Ttest_indResult(statistic=-3.703539628155363, pvalue=0.00030818504653448014)