In [48]:
import pandas as pd
import datetime as dt

tides = pd.read_csv('wpb-tides-2017.txt',
                    sep='\t',
                    skiprows=14,
                    header=None,
                    usecols=[0,1,2,3,5,7],
                    names=['Date', 'Day', 'Time', 'Pred(ft)', 'Pred(cm)', 'High/Low'],
                    parse_dates=['Date'],
                    converters={"Time": lambda time: dt.datetime.strptime(time, "%I:%M %p").time()})

tides[(tides['High/Low'] == 'H') & 
      ((tides['Day'] == 'Sat') | (tides['Day'] == 'Sun')) &
      (tides['Time'] > dt.datetime.strptime("10:00 AM", "%I:%M %p").time()) &
      (tides['Time'] < dt.datetime.strptime("11:59 AM", "%I:%M %p").time())]

           Date  Day      Time  Pred(ft)  Pred(cm) High/Low
1    2017-01-01  Sun  10:13:00       2.9        88        H
55   2017-01-15  Sun  10:20:00       3.0        91        H
403  2017-04-15  Sat  11:46:00       2.3        70        H
457  2017-04-29  Sat  11:17:00       2.9        88        H
511  2017-05-13  Sat  10:40:00       2.4        73        H
515  2017-05-14  Sun  11:20:00       2.3        70        H
565  2017-05-27  Sat  10:06:00       2.9        88        H
569  2017-05-28  Sun  11:02:00       2.8        85        H
623  2017-06-11  Sun  10:15:00       2.3        70        H
971  2017-09-09  Sat  11:10:00       3.7       113        H
1025 2017-09-23  Sat  11:13:00       3.7       113        H
1029 2017-09-24  Sun  11:56:00       3.6       110        H
1079 2017-10-07  Sat  10:01:00       4.1       125        H
1083 2017-10-08  Sun  10:50:00       4.1       125        H
1133 2017-10-21  Sat  10:03:00       3.8       116        H
1137 2017-10-22  Sun  10:43:00       3.8       116        H
1377 2017-12-23  Sat  11:27:00       2.8        85        H